.nav {
  
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.navItem {
    padding: 50px;
    margin: 20px;
    border: 30px;
    display: flex;
  

}